$main-color: #3e161c;
$secondary-color: #29383e;
$tertiary-color: #5e111a;
$font-color: rgb(241, 237, 237);
$color-black: #000;
$color-black-1: #1a1a1a;
$color-grey: #333333;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
