.about-section {
  text-align: center;

  &__title {
    font-size: 4rem;
    color: $font-color;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  &__text {
    color: $font-color;
    font-size: 3rem;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
  }
}
